html {
  box-sizing: border-box;
  background-color: #e3f573;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  left: 0;
}

img {
  display: block;
  width: 400px;
  margin: 0;
  padding: 0;
}
